<header class="header">
  <div class="header__left">
    <img
      src="/assets/images/icon-menu.svg"
      alt="Menu toggle button"
      class="header__menu-btn"
    />
    <img src="/assets/images/logo.svg" alt="Logo" class="header__logo" />
  </div>
  <div class="header__right">
    <img
      src="/assets/images/icon-cart.svg"
      alt="Shopping cart icon"
      class="shopping-cart"
    />
    <img
      src="/assets/images/image-avatar.png"
      alt="User avatar image"
      class="avatar"
    />
  </div>
</header>
