:host {
  display: block;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 2rem;

    .header__left {
      display: flex;
      align-items: flex-end;
    }

    .header__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &__menu-btn {
      margin-right: 1.6rem;
    }

    &__logo {
    }

    .avatar {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      margin-left: 2.4rem;
    }
  }
}
