<div class="selector">
  <div class="selector__images">
    <div class="selector__images--main">
      <img
        src="/assets/images/image-product-1.jpg"
        alt="A Product image"
        class="selected-img"
      />
      <span class="selector__btn selector__btn--prev">
        <img src="/assets/images/icon-previous.svg" alt="Previous button" />
      </span>
      <span class="selector__btn selector__btn--next">
        <img src="/assets/images/icon-next.svg" alt="next button" />
      </span>
    </div>
    <!-- add previews here -->
  </div>
</div>
