<div class="selector">
  <div class="selector__images">
    <div class="selector__images--main">
      <img
        src="/assets/images/image-product-1.jpg"
        alt="A Product image"
        class="selected-img"
      />
      <span class="selector__btn selector__btn--prev">
        <img src="/assets/images/icon-previous.svg" alt="Previous button" />
      </span>
      <span class="selector__btn selector__btn--next">
        <img src="/assets/images/icon-next.svg" alt="next button" />
      </span>
    </div>
    <div class="selector__thumbnails">
      <div class="selector__thumbnail">
        <img
          src="/assets/images/image-product-1-thumbnail.jpg"
          alt="Product 1"
        />
      </div>
      <div class="selector__thumbnail">
        <img
          src="/assets/images/image-product-2-thumbnail.jpg"
          alt="Product 2"
        />
      </div>
      <div class="selector__thumbnail">
        <img
          src="/assets/images/image-product-3-thumbnail.jpg"
          alt="Product 3"
        />
      </div>
      <div class="selector__thumbnail">
        <img
          src="/assets/images/image-product-4-thumbnail.jpg"
          alt="Product 4"
        />
      </div>
    </div>
  </div>
</div>
